<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <h1>Welcome to TaskApp!</h1>
    <ion-item>
      <ion-label>
        Email
      </ion-label>
      <ion-input name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Password
      </ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item>
    <ion-button (click)="createAccount()">Sign Up</ion-button>
    <ion-button (click)="loginUser(email, password)">Login</ion-button>
    <ion-button (click)="recoverPassword()">Forgot Password?</ion-button>
  
    
</ion-content>
