<ion-header>
  <ion-toolbar>
    <ion-title>add-task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense"></ion-header>
  <ion-item>
    <ion-label position="floating">Task Name</ion-label>
    <!-- <ion-input type="hidden" [(ngModel)]="task.email"></ion-input> -->
    <ion-input type="text" [(ngModel)]="task.taskName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Due Date</ion-label>
    <ion-input type="text" [(ngModel)]="task.dueDate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Due Time</ion-label>
    <ion-input type="text" [(ngModel)]="task.dueTime"></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label position="floating">Priority Level</ion-label>
    <ion-input type="text" [(ngModel)]="task.priority"></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input type="text" [(ngModel)]="task.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button expand="block" (click)="saveTask()">Add Task</ion-button>
  </ion-item>
</ion-content>
